<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Английские_карточки.Properties.Settings.EnglishCardConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\EnglishCard.mdb"
            providerName="System.Data.OleDb" />
        <add name="Английские_карточки.Properties.Settings.EnglishCardConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\EnglishCard.mdb"
            providerName="System.Data.OleDb" />
        <add name="Английские_карточки.Properties.Settings.CardConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Card.mdb"
            providerName="System.Data.OleDb" />
        <add name="Английские_карточки.Properties.Settings.CardConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\Card.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>